* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.bg-coffee {
  background-color: rgb(22, 2, 0);
}

.body-bg {
  background-color: rgb(233, 228, 228);
}

.card-bg {
  background-color: rgb(245, 242, 242);
}
